body {
    font-family: 'Roboto', sans-serif;
    color: #007BFF;
    background-color: #F8F9FA;
}

header, footer {
    background-color: #007BFF;
    color: white;
    padding: 10px;
}

nav {
    /* Style du menu de navigation */
}

section {
    margin: 20px;
    padding: 10px;
}

#accueil {
    /* Style spécifique pour la page d'accueil */
}

/* Ajoutez des styles spécifiques pour les autres sections ici */

